.userProfileProfile {
    width: 100%;
    max-width: 400px;
    height: 200px;
    padding: 20px;
    margin: 0 20px;
    background: var(--grayblue);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
@media  screen and (max-width: 768px) {
    
    .userProfileProfile h1 {
        font-size: 2.6rem;
    }
    .userProfileProfile h2 {
        font-size: 2.4rem;
    }
}
@media  screen and (max-width: 464px) {

    .userProfileProfile h1 {
        font-size: 1.6rem;
    }
    .userProfileProfile h2 {
        font-size: 1.4rem;
    }
}