.orderFormSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px 25px 50px 25px;
    width: 100%;
}

.orderFormHeading {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 40px;
}

.orderFormParagraph {
    text-align: center;
    font-size: 1.4rem;
    max-width: 1000px;
    padding-bottom: 10px;
    line-height: 1.8rem;
    font-weight: bold;
}

.orderFormTable {
    width: 100%;
    margin: 20px;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.orderFormTableHeader {
    padding: 10px 20px;
    width: 100%;
}

.orderFormTableBody {
    margin-top: 400px;
    padding: 10px 20px;
    width: 100%;
}

.orderFormTableRowHeader {
    background: white;
    text-align: left;
    font-weight: bold;
}

.orderFormTableRowHeader th{
    width: fit-content;
    padding: 12px 15px;
    font-size: 1.6rem;
    text-align: center;
    vertical-align: middle;
    border: 10px solid var(--tan);
    color: black;
}

.orderFormTableRowCard {
    background: var(--red);
}

.orderFormTableRowCard td{
    width: fit-content;
    padding: 12px 15px;
    background: white;
    font-size: 1.6rem;
    text-align: center;
    vertical-align: middle;
    border: 10px solid var(--red);
    color: black;
}

.orderFormTableRowCard td:nth-child(7), td:nth-child(8) {
    cursor: pointer;
}

.orderFormTableRowCard td:nth-child(7) {
    background: var(--tan);
}

.orderFormTableRowCard td:nth-child(8) {
    background: var(--rustmist);
}

.productIdButton:hover {
    cursor: pointer;
    background: var(--teal);
    transition: .2s ease-in-out;
}

.orderFormEditBtn, .orderFormDeleteBtn {
    font-size: 2.2rem;
    padding: 6px;
    cursor: pointer;
}

.orderFormEditBtn:hover {
    color: var(--teal);
}

.orderFormDeleteBtn:hover {
    color: var(--tan);
}

.orderFormTotal h3{
    width: fit-content;
    padding: 15px 18px;
    background: white;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 10px solid var(--red);
}

.orderFormButtons {
    display: flex;
    gap: 20px;
}

.orderFormBtns {
    width: 200px;
    padding: 12px 16px;
    border-radius: var(--borderRadius);
    background: var(--tan);
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.orderFormBtns:hover {
    background: var(--red);
    color: var(--teal);
}

@media screen and (max-width: 1000px) {
    
    .orderFormTableRowHeader th{
        padding: 12px 15px;
        font-size: 1rem;
        border: 5px solid var(--tan);
    }
    
    .orderFormTableRowCard td{
        padding: 12px 15px;
        font-size: 1rem;
        border: 5px solid var(--red);
    }
}

@media screen and (max-width: 768px) {
    .orderFormTable {
        margin: 0px;
    }
    
    .orderFormTableRowHeader th{
        padding: 12px 15px;
        font-size: 1.2rem;
        border: 5px solid var(--tan);
    }
    
    .orderFormTableRowCard td{
        padding: 12px 15px;
        font-size: 1.2rem;
        border: 5px solid var(--red);
    }
}

@media screen and (max-width: 720px) {
    .orderFormParagraph {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    
    .orderFormTableRowHeader th{
        padding: 8px 10px;
        font-size: 1rem;
        border: 5px solid var(--tan);
    }
    
    .orderFormTableRowCard td{
        padding: 8px 10px;
        font-size: 1rem;
        border: 5px solid var(--red);
    }
    .orderFormTotal h3{
        padding: 10px 13px;
        font-size: 1.2rem;
        border: 8px solid var(--red);
    }
    
    .orderFormButtons {
        display: flex;
        gap: 10px;
    }
    
    .orderFormBtns {
        width: 150px;
        padding: 10px 12px;
        color: black;
    }
    .orderFormEditBtn, .orderFormDeleteBtn {
        font-size: 1.4rem;

    }
}

@media screen and (max-width: 580px) {
    
    .orderFormTableRowHeader th{
        padding: 5px 8px;
        font-size: .8rem;
        border: 3px solid var(--tan);
    }
    
    .orderFormTableRowCard td{
        padding: 5px 8px;
        font-size: .8rem;
        border: 3px solid var(--red);
    }
}

@media screen and (max-width: 468px) {
    
    .orderFormTableRowHeader th{
        padding: 3px 5px;
        font-size: .7rem;
        border: 2px solid var(--tan);
    }
    
    .orderFormTableRowCard td{
        padding: 3px 5px;
        font-size: .7rem;
        border: 2px solid var(--red);
    }
    .orderFormTotal h3{
        padding: 8px 10px;
        font-size: 1rem;
        border: 5px solid var(--red);
    }
    
    .orderFormButtons {
        gap: 8px;
    }
    
    .orderFormBtns {
        width: 100px;
        padding: 5px 8px;
    }
}