.aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 0 20px;
}

.aboutSectionHeading {
    text-align: center;
    padding: 120px 0 30px 0;
}

.aboutSectionUpdate {
    padding-bottom: 30px;
}

.aboutSectiontextContainer {
    width: 100%;
    max-width: var(--maxWidth);
    padding: 50px 20px;
    background: var(--grayblue);
    border-radius: 8px;
    margin: 0 20px 100px 20px;
}

.aboutSectiontextSpan {
    font-size: 2.4rem;
    font-weight: bold;
    padding: 15px 0;
}

.aboutSectiontextContainer > p {
    font-size: 2rem;
    line-height: 2.4rem;
    padding: 5px 20px;
}

.aboutSectiontextP {
    margin: 30px 0;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 2.4rem;
}

@media  screen and (max-width: 768px) {
    .aboutSectiontextSpan {
        font-size: 1.8rem;
    }
    
    .aboutSectiontextContainer > p {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    
    .aboutSectiontextP {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
}