.ReorderReminderSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px 25px 50px 25px;
    width: 100%;
}

.ReorderReminderHeading {
    text-align: center;
    text-decoration: underline;
}

.ReorderReminderTable {
    width: 100%;
    margin: 20px;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.ReorderReminderTableHeader {
    padding: 10px 20px;
    width: 100%;
}

.ReorderReminderTableBody {
    padding: 10px 20px;
    width: 100%;
}

.ReorderReminderTableRowHeader {
    background: white;
    text-align: left;
    font-weight: bold;
}

.ReorderReminderTableRowHeader th{
    width: fit-content;
    padding: 12px 15px;
    font-size: 1.6rem;
    text-align: center;
    vertical-align: middle;
    border: 10px solid var(--tan);
}

.ReorderReminderTableRowCard {
    background: var(--red);
}

.ReorderReminderTableRowCard td{
    width: fit-content;
    padding: 12px 15px;
    background: white;
    font-size: 1.6rem;
    text-align: center;
    vertical-align: middle;
    border: 10px solid var(--red);
}

.ReorderReminderTableRowCard td:nth-child(7), td:nth-child(8), td:nth-child(9) {
    cursor: pointer;
}

.ReorderReminderTableRowCard td:nth-child(7) {
    background: var(--tan);
}

.ReorderReminderTableRowCard td:nth-child(8) {
    background: var(--rustmist);
}

.ReorderReminderTableRowCard td:nth-child(9) {
    background: var(--teal);
}

.reorderReminderEditBtn, .reorderReminderCartBtn, .reorderReminderDeleteBtn {
    font-size: 2.2rem;
    padding: 6px;
    cursor: pointer;
}

.reorderReminderEditBtn:hover {
    color: var(--teal);
}

.reorderReminderDeleteBtn:hover {
    color: var(--tan);
}

.reorderReminderCartBtn:hover {
    color: var(--red);
}