.loginFormSection {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px) saturate(88%);
    -webkit-backdrop-filter: blur(5px) saturate(88%);
    background-color: rgba(17, 25, 40, 0.38);
    /* border-radius: 12px; */
    border: 1px solid rgba(255, 255, 255, 0.125);
    z-index: 100;
}

.loginFormIconContainer {
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

.loginFormIcon {
    font-size: 3.4rem;
    color: var(--grayblue);
    cursor: pointer;
}

.loginFormIcon:hover {
    color: var(--red);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: var(--teal);
    width: 300px;
    height: fit-content;
    border-radius: var(--borderRadius);
    top: 200px;  
    padding-bottom: 50px;
}

.loginFormImage {
    width: 100px;
    padding: 30px 0;
}

.loginFormInputs {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.loginInput {
    width: 250px;
    padding: 10px 16px;
    outline: none;
    border: none;
    border-radius: var(--borderRadius);
}

.loginSubmit {
    width: 100%;
    max-width: 180px;
    padding: 10px 16px;
    outline: none;
    border: none;
    border-radius: var(--borderRadius);
    background: var(--tan);
    color: black;
    cursor: pointer;
    margin-top: 20px;
}

.loginGoogleSubmit {
    width: 100%;
    max-width: 180px;
    padding: 10px 16px;
    outline: none;
    border: none;
    border-radius: var(--borderRadius);
    background: white;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.3rem;
}

.loginGoogleSubmit:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.loginSubmit:hover {
    background: var(--red);
    color: var(--teal);
}