.UserProfileBtns {
    width: 300px;
    padding: 12px 16px;
    border-radius: var(--borderRadius);
    background: var(--grayblue);
    border: none;
    outline: none;
    cursor: pointer;
}

.UserProfileBtns:hover {
    background: var(--teal);
    color: var(--red);
}